@model Event
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Html.Raw(@Model.Title)</h4>
                <p class="text-danger">Are you sure want to delete?</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form method="post" class="forms-sample">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a class="btn btn-light" asp-action="Index">Cancel</a>
</div>

