@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>EduHome Registration </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
          content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/files/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/icon/icofont/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/icon/feather/css/feather.css">
    <!-- jpro forms css -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/j-pro/css/demo.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/j-pro/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/j-pro/css/j-pro-modern.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/jquery.mCustomScrollbar.css">
</head>

<body>
    <!-- Page body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Register your self card start -->
                <div class="card">
                    <div class="card-block">
                        <div class="j-wrapper j-wrapper-640">
                            <form class="pt-3" method="post">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <label asp-for="FullName">FullName</label>
                                    <input class="form-control" placeholder="FullName" asp-for="FullName">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Username">Username</label>
                                    <input class="form-control" placeholder="Username" asp-for="Username">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input class="form-control" placeholder="Email" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PassWord">PassWord</label>
                                    <input class="form-control" placeholder="PassWord" asp-for="PassWord">
                                    <span asp-validation-for="PassWord" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ConfirmPassWord">ConfirmPassWord</label>
                                    <input class="form-control" placeholder="ConfirmPassWord" asp-for="ConfirmPassWord">
                                    <span asp-validation-for="ConfirmPassWord" class="text-danger"></span>
                                </div>

                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            I agree to all Terms & Conditions
                                        </label>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN UP</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Already have an account? <a asp-action="Login" class="text-primary">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Register your self card end -->
            </div>
        </div>
    </div>
    <!-- Page body end -->

    <script type="text/javascript" src="~/files/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/files/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/files/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/files/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- j-pro js -->
    <script type="text/javascript" src="~/files/assets/pages/j-pro/js/jquery.ui.min.js"></script>
    <script type="text/javascript" src="~/files/assets/pages/j-pro/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/files/assets/pages/j-pro/js/jquery.j-pro.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/files/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/files/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="~/files/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/files/bower_components/i18next/i18next.min.js"></script>
    </script>
    <script type="text/javascript"
            src="~/files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript"
            src="~/files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/files/bower_components/jquery-i18next/jquery-i18next.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/files/assets/pages/j-pro/js/custom/reg-form.js"></script>

    <script src="~/files/assets/js/pcoded.min.js"></script>
    <script src="~/files/assets/js/vartical-layout.min.js"></script>
    <script src="~/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/files/assets/js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>