@model Course
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Course</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="Name" >Name</label>
                        <textarea  class="form-control"  placeholder="Name" asp-for="Name" rows="4"></textarea>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <img src="~/img/@Model.ImagePath" style="width: 150px; height: 150px;" />
                    <div class="form-group">
                        <label asp-for="Photo">Photo</label>
                        <input class="form-control" placeholder="Photo" asp-for="Photo" accept="image/*">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Description" >Description</label>
                        <textarea class="form-control" placeholder="Description" asp-for="Description" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseDetail.AboutDescription" >About Description</label>
                        <textarea class="form-control" placeholder="AboutDescription" asp-for="CourseDetail.AboutDescription" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.AboutDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseDetail.CertificaitonDescription" >Certificaiton Description</label>
                        <textarea class="form-control" placeholder="CertificaitonDescription" asp-for="CourseDetail.CertificaitonDescription" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.CertificaitonDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseDetail.StartDay" >Start Day</label>
                        <input type="date" class="form-control" placeholder="StartDay" asp-for="CourseDetail.StartDay">
                        <span asp-validation-for="CourseDetail.StartDay" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseDetail.DurationTime" >Duration Time</label>
                        <input type="time" class="form-control" placeholder="DurationTime" asp-for="CourseDetail.DurationTime">
                        <span asp-validation-for="CourseDetail.DurationTime" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseDetail.ApplyDescription" >Apply Description</label>
                        <textarea class="form-control" placeholder="ApplyDescription" asp-for="CourseDetail.ApplyDescription" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.ApplyDescription" class="text-danger"></span>
                    </div>

                      <div class="form-group">
                        <label asp-for="CourseDetail.LessonDurationTime" >Lesson Duration Time</label>
                        <textarea class="form-control" placeholder="LessonDurationTime" asp-for="CourseDetail.LessonDurationTime" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.LessonDurationTime" class="text-danger"></span>
                    </div>

                    
                      <div class="form-group">
                        <label asp-for="CourseDetail.SkillLevel" >Skill Level</label>
                        <textarea class="form-control" placeholder="SkillLevel" asp-for="CourseDetail.SkillLevel" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.SkillLevel" class="text-danger"></span>
                    </div>

                    
                      <div class="form-group">
                        <label asp-for="CourseDetail.Language" >Language</label>
                        <textarea class="form-control" placeholder="Language" asp-for="CourseDetail.Language" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.Language" class="text-danger"></span>
                    </div>

                      <div class="form-group">
                        <label asp-for="CourseDetail.studentCapacity" >Student Capacity</label>
                        <textarea class="form-control" placeholder="studentCapacity" asp-for="CourseDetail.studentCapacity" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.studentCapacity" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseDetail.Assestments" >Assestments</label>
                        <textarea class="form-control" placeholder="Assestments" asp-for="CourseDetail.Assestments" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.Assestments" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseDetail.Price">Price</label>
                        <textarea class="form-control" placeholder="Price" asp-for="CourseDetail.Price" rows="4"></textarea>
                        <span asp-validation-for="CourseDetail.Price" class="text-danger"></span>
                    </div>


                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="categoryId" id="ParentCategory">
                            <option value="0">--Select Category--</option>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option value="@item.ID" selected="ViewBag.courseCategories">@item.Name</option>
                        }
                    </select>
                </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />
    <partial name="_CKEditorPartial" />
}